:root{
    --color-primary:#FF8800 ;
    --color-primary-light:#F79D5C;
    --color-primary-variant:#F97F16;
    --color-red: #4F0000;
    --color-red-light: #B55151; /*9E4920;*/
    --color-green: #373602;
    --color-green-light: #6E9D3E;
    --color-gray-900: #E17314;
    --color-gray-700: #F3752B;
    --color-gray-300: #F6B385;
    --color-gray-200: #F5C8AD;
    --color-white: #0F0F3E;
    --color-bg: #9E5500;
    --color-contrast:#18A2FF;

    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;


}
/*======================================================================================================
GENERAL
======================================================================================================*/
*{
    margin: 0; 
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--color-gray-200);
    overflow-x: hidden;
    background: var(--color-bg);
    font-size: 0.9rem;
}
.container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
} 

section{
    margin-top: 3rem;
    width: 100vw;
}

/* add to posts on index if there's no featured post. eg. search results page
*/
.section__extra-margin{
    margin-top: 7rem;
}

h1, h2, h3, h4, h5{
    color: var(--color-white);
    line-height: 1.3;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}

h4{
    font-size: 1rem;
}

a{
    color: var(--color-white);
    transition: var(--transition)
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/*======================================================================================================NAV BAR======================================================================================================*/
nav{
    background: var(--color-gray-900);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top:0 ;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
}

nav button{
    display: none;
}

.nav__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-bg);
}

.nav__logo{
    font-weight: 600;
    font-size: 1.2rem;
}

.nav__items{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__profile{
    position: relative;
    cursor:pointer;
}

.nav__profile ul{
    position: absolute;
    top: 150%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

/* show nav ul when nav profile is hovered */
.nav__profile:hover > ul{
    visibility: visible;
    opacity: 1;
}

.nav__profile ul li a {
    padding: 1rem;
    background: var(--color-primary-variant);
    display: block;
    width: 100%;
}

.nav__profile ul li:last-child() a{
    background: var(--color-red);
    color: var(--color-bg);
}

/* ================================================CATEGORY BUTTON=====================================================*/
.category__button {
    background: var(--color-gray-300);
    color: var(--color-red);
    display: inline-block;
    padding: 0.5rem 1 rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}

.category__button:hover {
    color: var(--color-white);
}

/*============================================= GENERAL POST ====================================*/
.post__thumbnail{
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-300);
    overflow: hidden;
    margin-bottom: 1.6rem;
}

.post:hover .post__thumbnail img{
    filter: saturate(0);
    transition: filter 500 ms ease;
}

.post__author{
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.post__author-avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius-3);
    overflow: hidden;
}

/*========================================================FEATURED=============================*/
.featured{
    margin-top: 8rem;
    /*display: flex;/*new*/
}

.featured__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.featured .post__thumbnail{
    height: fit-content;
    /*display: inline-block;/*new*/
}

#carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1000px; /* Adjust as needed for your design */
    margin: 0 auto;
  }
   
  .carousel__slides {
    margin-top: 8rem;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel__slide {
    min-width: 100%;
    box-sizing: border-box;
    height: fit-content; /* Adjust as needed */
  }
  
  .carousel__content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust column layout as needed */
    gap: 4rem;
  }
  
  .carousel__post__thumbnail{
    width: 100%; /* Adjust for full width on small screens */
    height: fit-content; /* Adjust as needed */
    object-fit: cover;
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-300);
    overflow: hidden;
    margin-bottom: 1.6rem;
  }
  
  .carousel__post__info {
    width: 100%; /* Adjust for full width on small screens */
    box-sizing: border-box;
    padding-right: 50px;
    padding-top: 20px;
  }
  
  #prevBtn, #nextBtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    background-color: var(--color-gray-200);
    color: var(--color-bg);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  #nextBtn {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /*#prevBtn {
    margin-right: -22px;
    border-radius: 3px 0 0 3px;
  }*/
  
/*====================================================POSTS===================================*/
.posts__container{
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-bottom: 4rem;
}

/*====================================================CATEGORY BUTTONS===================================*/
.category__buttons {
    padding: 4rem 0;
    border-top: 2px solid var(--color-gray-900);
    border-bottom:2px solid var(--color-gray-900);
}

.category__buttons-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/*================================================FOOTER==================================*/
footer {
    background: var(--color-gray-900);
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0,0.2);
}

.footer__socials{
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.footer__socials a{
    background: var(--color-bg);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__socials a:hover{
    background: var(--color-white);
    color: var(--color-bg);
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer h4{
    color: var(--color-white);
    margin-bottom: 0.6rem;
}

footer ul li{
    padding: 0.4rem 0;
}

footer ul a{
    opacity: 0.75;
}

footer ul a:hover{
    letter-spacing: 0.2rem;
    opacity: 1;
}

.footer__copyright{
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-bg);
    margin-top: 4rem;
}

/*==================================================== MEDIA SEARCH =================================================*/
.search__bar{
    margin-top: 7rem;
}

.search__bar-container{
    position: relative;
    width: 30rem;
    background: var(--color-gray-900);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: var(--card-border-radius-2);
    color: var(--color-gray-300);
}

.search__bar-container > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.search__bar input{
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
}

.search__bar input::placeholder{
    color: var(--color-gray-300);
}

/*============================================= BUTTON (MEDIUM DEVICES) ====================================*/
.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary-light);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    /*color: var(--color-white);*/
}

.btn.sm{
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.btn.danger{
    background: var(--color-red);
    color: var(--color-gray-200);
}

.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
}

.sidebar__toggle{
    display: none;
}
/*============================================= SINGLE POST ======================================*/
.singlepost{
    margin: 6rem 0 2rem;
    color: var(--color-white);
}

.singlepost__container{
    width: var(--form-width);
    background: var(--color-gray-900);
    padding: 1rem 2rem 3rem;
}

.singlepost__thumbnail{
    margin: 1.5rem 0 1rem;
}

.singlepost__container p{
    margin-top: 1rem;
    line-height: 1.7rem;
}

/*============================================= CATEGORY POSTS ====================================*/
.category__title {
    height: 15rem;
    margin-top: 4.5rem;
    background: var(--color-gray-900);
    display: grid;
    place-items: center;
}

/*============================================= EMPTY PAGES ====================================*/
.empty__page{
    /*margin-top: 7rem;*/
    height: 70vh;
    place-content: center;
    display: grid;

}
/*============================================= GENERAL FORM ====================================*/

.form__section{
    display: flex;
    place-items: center;
    height: 100vh;
}

.form__section-container{
    width: var(--form-width);
}

.alert__message{
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
}

.alert__message.error{
    background: var(--color-red-light);
    color: var(--color-red);
}

.alert__message.success{
    background: var(--color-green-light);
    color: var(--color-green);
}

/* centers text of alert. eg. empty category-posts page*/
.alert__message.lg{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-control{ 
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#editor {
    color: var(--color-bg);
    height: 375px;
    background-color: var(--color-gray-200); /* Set the desired background color */
    padding: 10px;
  }

  
input, textarea, select{
    padding: 0.8rem 1.4rem;
    background-color: var(--color-gray-900);
    border-radius: var(--card-border-radius-2);
    resize: none;
    color: var(--color-white);
}

.form__section small{
    margin-top: 1rem;
    display: block;
}

.form__section small a{
    color: var(--color-primary);
}

.form__control.inline{
    flex-direction: row;
    align-items: center;
}

/*============================================= DASHBOARD ====================================*/

.dashboard{
    margin-top: 6rem;
}

.dashboard__container{
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    background: var(--color-gray-900);
    padding: 2rem;
    margin-bottom: 5rem;
}

.dashboard aside a{
    background-color: var(--color-primary);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;
}

.dashboard aside ul li:not(:last-child){
    border-bottom: 1px solid var(--color-gray-900);
}

.dashboard aside a:hover{
    background: var(--color-gray-700);

}

.dashboard aside a.active {
    background-color: var(--color-gray-900);
}

.dashboard main{
    margin-left: 1.5rem;
}

.dashboard main h2{
    margin: 0 0 2rem 0;
    text-align: left;
}

.dashboard main table{
    width: 100%;
    text-align: left;
}

.dashboard main table th{
    background: var(--color-primary);
    padding: 0.8rem;
    color: var(--color-white);
    cursor: default;
}

.dashboard main table td{
    border-bottom: 1px solid var(--color-gray-700);
    padding: 0.8rem;
    color: var(--color-white);
}

.dashboard main table tr:hover td{
    background-color: var(--color-bg);
    color: var(--color-white);
    cursor: default;
    transition: var(--transition);
}

/*============================================= MEDIA QUERIES (MEDIUM DEVICES) ====================================*/
@media screen and (max-width: 1024px){
    /* ===== GENERAL ======*/
    .container{
        width: var(--container-width-md);
    }

    h2{
        font-size: 1.6rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h5{
        font-size: 0.8rem;
    }

    /* ================= NAV ==================*/
    nav button{
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close__nav-btn{
        display: none;
    }

    .nav__container{
        position: relative;
    }

    .nav__items{
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 12rem;
        align-items:flex-start;
        justify-content: center;
        gap: 0;
        display: none;
    }

    .nav__items li{
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
        background: var(--color-gray-900);
        border-top: 1px solid var(--color-bg);
        animation: animateDropdown 800ms 0s ease forwards;
        opacity: 0;
        transform-origin: top;
    }

    .nav__items li:nth-child(2){
        animation-delay: 200ms;
    }

    .nav__items li:nth-child(3){
        animation-delay: 400ms;
    }

    .nav__items li:nth-child(4){
        animation-delay: 600ms;
    }

    .nav__items li:nth-child(5){
        animation-delay: 800ms;
    }

    /* nav drop down animation */
    @keyframes animateDropdown {
        0%{
            transform: rotateX(90deg);
        }
        100%{
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    .nav__items li a {
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: var(--color-gray-900);
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }

    .nav__profile{
        background: var(--color-gray-900);
    }

    .nav__profile ul{
        top: 100%;
        width: 100%;
    }

    .nav__profile .avatar{
        margin-left: 2rem;
        border: 0;
    }

    .featured__container{
        gap: 3rem;
    }
    /*
    
    */
    .posts_container{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .footer__container{
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    /*============BLOG============*/
    .search__bar-container{
        width: var(--container-width-md);
    }

    /*============GENERAL FORM============*/
    .form__section-container{
        padding: 3rem;
    }

    /*============MANAGE CATEGORIES============*/
    .dashboard__container{
        width: var(--container-width-md);
        grid-template-columns: 4.3rem auto;
        padding: 0;
        background: transparent;
    }

    .dashboard aside h5{
        display: none;
    }

    .dashboard main table thead{
        display: none;
    }

    .dashboard main table tr{
        display: flex;
        flex-direction: column;
    }

    .dashboard main table tr:nth-child(even){
        background: var(--color-gray-900);
    }

    .dashboard main table tr:hover td{
        background: transparent;
    }

    .sidebar__toggle{
        display: none;
    }
}


/*============================================= MEDIA QUERIES (SMALL DEVICES) ====================================*/

@media  screen and (max-width: 600px) {
    .carousel__slides {
        flex-direction: column;
    }

    section{
        margin-top: 2rem;
    }

    h1{
        font-size: 2rem;
    }

    .featured{
        margin-top: 10rem;
    }

    .featured__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .posts__container{
        grid-template-columns: 1fr;
    }

    .category__buttons-container{
        grid-template-columns: 1fr 1fr;
    }

    .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    /*============BLOG============*/
    .search__bar-container{
        width: var(--container-width-md)
    }

    /*============SINGLE POST============*/
    .singlepost {
        background-color: transparent;
        padding: 0;
    }

    /*============GENERAL FORM============*/
    .form__section-container{
        padding: 0;
    }

    /*============MANAGE CATEGORIES============*/
    .dashboard{
        margin-top: 5rem;
    }

    .dashboard__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .dashboard main{
        margin: 0;
    }

    .dashboard main h2{
        margin-top: 1rem;
    }

    .dashboard aside{
        position: fixed;
        box-shadow: 2rem 0 4rem rgba(0,0,0,0.4);
        left: -100%;
        height: 100vh;
        transition: var(--transition);
        background: var(--color-primary);
    }

    .dashboard aside a h5{
        display: inline-block;
    }

    .dashboard .sidebar__toggle{
        display: inline-block;
        background: var(--color-primary-variant);
        color: var(--color-white);
        position: fixed;
        right: 0;
        bottom: 4rem;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50% 0 0 50%;
        font-size: 1.3rem;
        cursor: pointer;
        box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.4);
    }

    #hide__sidebar-btn{
        display: none;
    }
}